

body {
	background-image: linear-gradient(to bottom, #cfd9df 0%, #e2ebf0 100%);
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.blobs-container {
	display: flex;
}

.blob {
	background: blue;
	border-radius: 150%;
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 19s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(1);
		
	}
	
	21% {
		transform: scale(10);
		
	}
	58% {
		transform: scale(10);
		
	}
	
	100% {
		transform: scale(1);
		
	}
}







